<h1>All the Articles</h1>

<div class="row">

  <% if logged_in? %>
    <label>Author: </label>
    <%= @article.user.name %>
  <% end %>
  <br>
  <label>Title:</label>
  <%= @article.title %>
  <br>
  <label>Content:</label>
  <%= @article.content %>
  <br>


</div>
