<h1>All the Articles</h1>

<div class="row">


  <label>Author:</label>
  <%= @article.user.name %>
  <br>
  <label>Title:</label>
  <%= @article.title %>
  <br>
  <label>Content:</label>
  <%= @article.content %>
  <br>


</div>
